* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
    
    
    .logo{
    width: 20em;
    position: absolute;
    top: 8.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    .bag{
    width: 1.5%;
    position: absolute;
    top: 8%;
    left: 90%;
    transform: translate(-50%, -50%);
    }

    .bag:hover{
    transition: 0.3s;
    width: 3em;
    }

    section {
        padding: 50px;
    }


    
    h1, h2, h3 {
        margin: 0;
    }
    
    .grid-container {
        transform: translate(0%, 50%);
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 120px;
    }
    
    .grid-item {
        border-radius: 0.5em;
        border: 1px solid #ddd;
        padding: 20px;
        text-align: center;
    }
    
    .grid-item img {
        width: 100%;
    }
    
    .grid-item h3 {
        color: #fff;
        margin-top: 10px;
        font-size: 1.2em;
    }
    
    .grid-item p {
        color: #e9e9e9;
        margin-top: 5px;
        font-size: 1.1em;
        font-weight: bold;
    }

    h2{
        float: left;
        transform: translateY(950%);
        color: #fff;
    }

    .first-h3{
        color: #e9e9e9;
        text-align: center;
        margin-top: 5em;
        font-size: 1.5em;
    }



